/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

body{
  background-image: url();
}
.lineThru{text-decoration: line-through;}





/******************************************
/* LAYOUT
/*******************************************/



/******************************************
/* ADDITIONAL STYLES

/*******************************************/
